<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Rooms</title>
</head>
<body class="bg-zinc-900">
        <div id="add" class="w-vw h-vh bg-zinc-900  text-white flex justify-center">
            <form method="post" action="/details" enctype="multipart/form-data" class="flex flex-col my-20"> 
                <input type="text" name="location" placeholder="Location"  class="w-64 h-10 bg-blue-800 rounded-md m-2" required>
                <input type="text" name="flat" placeholder="About flat"  class="w-64 h-10 bg-blue-800 rounded-md m-2"  required>
                <input type="text" name="nfp" placeholder="Nearby famous palce"  class="w-64 h-10 bg-blue-800 rounded-md m-2" required>
                <input type="text" name="rent" placeholder="rent"  class="w-64 h-10 bg-blue-800 rounded-md m-2" required>
                <input type="text" name="address" placeholder="Address"  class="w-64 h-10 bg-blue-800 rounded-md m-2" required>
                <input type="text" name="contact" placeholder="Contact Number"  class="w-64 h-10 bg-blue-800 rounded-md m-2"  required>
                <input type="file" name="images" multiple required>
                <input type="submit" value="Submit" class="w-wrap h-wrap bg-green-500 rounded-md">
               
            </form>
        </div>


        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>"
        <script src="/javascripts/rooms.js"></script>

</body>
</html>